body{
    font-family: 'Montserrat', sans-serif;
    
    height: 100%;
    width: 100%;
}
html{
    width: 100%;
    height: 100%;
}

header{
    width: 100% ;
    height: 100%;

    background: linear-gradient(0deg, #c21500 0,#ffc500 100%);
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}
.anhcaimat{
    width: 240px;
    height: 240px;
}

.circle1{
    width: 900px;
    height: 900px;
    border-radius: 100%;
    background: linear-gradient(20deg, #ffc500 0%,#c21500 100%);
    position: absolute;
    bottom: -450px;
    right: -450px;
    z-index: 0;
}
.circle2{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: linear-gradient(0deg, #ffc500 0%,#c21500 100%);
    position: absolute;
    top: -20px;
    left: -50px;
    z-index: 0;
}
.circle3{
    width: 600px;
    height: 600px;
    border-radius: 100%;
    background: linear-gradient(-20deg, #ffc500 0%,#c21500 100%);
    position: absolute;
    top: 300px;
    left: -100px;
    z-index: 0;
}
.circle4{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    background: linear-gradient(0deg, #ffc500 0%,#c21500 100%);
    position: absolute;
    top: -30px;
    right: 500px;
    z-index: 0;
}
.chuheader{
    color: white;
    min-width: 500px;
    margin: 164px 296px;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 1;
}

.welcome{
    font-family: 'Source Serif Pro', serif;
    font-style: italic;
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 32px;
}
.nice{
    font-size: 72px;
    font-weight: 800;
    margin-bottom: 64px;
}
.nut{
    color: white;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    background-color: #ffc500;
}

/* style khoi superpowers  */
.td{
    text-transform: uppercase;
    font-weight: 700;
    color: #212529;
    font-size: 40px;
    margin-bottom: 16px;
}
.nd{
    padding: 96px 0;
}
.mttd{
    font-family: 'Source Serif Pro', serif;
    font-style: italic; 
    color: #6c757d;
    font-size: 18px;
    margin-bottom: 64px;
}
li{
    list-style: none;
    font-size: 16px;
    color: #6c757d;
    font-weight: 500;
    margin: 8px 0;
}
.icontieude{
    width: 124px;
    height: 124px;
    font-size: 80px;
    line-height: 124px;
    color: white;
    background-color: #ffc500;
    border: none;
    border-radius: 100%;
}
.fa-star, .fa-check-circle{
    color: #ffc500;
}
.title{
    font-size: 24px;
    color: #212529;
    font-weight: 700;
    
}
.superpower .title{
    margin: 24px 0;
}

/* style khoi portforlio */
.portforlio{
    background-color: #f8f9fa;
}
.motcuc{
    width: 100%;
    
    align-items: center;
    justify-content: center;
   
}
.nenvang{
    width: 100%;
    height: 267px;
    
    overflow: hidden;
}
.portforlio img{
    width: 100%;
    border-radius: 8px;
    max-width: 100%;
    position: relative;
}

.fa-plus{
    width: 350px;
    height: 253px;
    line-height: 253px;
    background-color: #ffc500;
    color: white;
    font-size: 48px;
    opacity: 0;
    transition: 0.4s;
    border-radius: 8px;
    position: absolute;
    left: 15px;
    top: 0;
    z-index: 1;
}
.motcuc:hover .fa-plus{
    opacity: 0.95;
}
.chuchu{
    padding: 24px;
    background-color: white;
}
.chuchu .mttd{
    margin-bottom: 0;
}
/* het khoi port  */
.tron .mttd{
    font-style: unset;
    font-family: unset;
    font-size: 14px;
}
.anhabout{
    width: 170px;
    height: 170px;
    border-radius: 100%;
    border: 8px solid #f8f9fa;
}
.about .mothang{
    margin-bottom: 100px;
}
.about .titlecuoi{
    width: 170px;
    height: 170px;
    padding-top: 36px;
    line-height: 40px;
    font-weight: 800;
    border-radius: 100%;
    border: 8px solid #f8f9fa;
    background-color: #ffc500;
    color: white;
}
.thanh{
    height: 1350px;
    width: 3px;
    background-color:#f8f9fa;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 0;
}
.tron{
    position: relative;
}
/* het style khoi about  */

.diploma{
    background-color: #f8f9fa;
}
.diploma img{
    height: 224px;
    width: 224px;
    border-radius: 100%;
    border: 8px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 24px;
}

/* khoi contact  */
.contact{
    background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/map-image.png);
    background-color: #212529;
    background-position: center center;
    background-size: cover;
}
.contact .td{
    color: white;
}
.contact input{
    width: 546px;
    height: 66px;
    padding: 20px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}
input.to{
    width: 546px;
    height: 238px;
}
 /* khoi nav  */
nav{
    
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
}
.menuchu{
    display: flex;
    justify-content: space-between;
}
.menubot{
    background-color: #1a1c27;
    height: 96px;
    line-height: 96px;
}

.logo{
    margin-right: 8px;
    margin-top: -16px;
}
.the, .fox, .support{
    /* font-family: 'Lato', sans-serif; */
    font-size: 20px;
    color: #a1b1bc;
    text-transform: uppercase;
}
.the{
    font-weight: 400;
}
.fox{
    font-weight: 900;
}
.support{
    font-weight: 300;
}
.nutmenu2{
    font-weight: 700;
    color: #a1b1bc;
    margin-bottom: 0;
    transition: 0.4s;
}
.nutmenu2:hover{
    color: #ffc500;
    cursor: pointer;
    border-top: 4px solid #ffc500;
}



.anh{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    

    box-shadow:  inset 0 0 0 20px rgba(255,255,255,0.6);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.anh1{
    background-image: url(https://tympanus.net/Tutorials/CircleHoverEffects/images/4.jpg);
}
.anh2{
    background-image: url(https://tympanus.net/Tutorials/CircleHoverEffects/images/5.jpg);
}
.anh3{
    background-image: url(https://tympanus.net/Tutorials/CircleHoverEffects/images/6.jpg);
}
.chud a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 12px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 700;
}
.chud a:hover{
    color: #ffc500;
}
.chud p{
    color: white;
}
.chuto{
    font-size: 18px;
    margin: 24px 0 12px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);

}
hr{
    width: 150px;
    margin: auto;
    margin-bottom: 16px;
    border: 0.5px solid white
    
}
.diploma .chud{
    width: 180px;
    height: 180px;
    background-color: #000000;
    border-radius: 50%;

    /* transform: scale(1.5);
    opacity: 0; */
    
    transition: 0.8s;
    
    justify-content: center;
    align-items: center;
    
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 4;
}

.lapphuong{
    width: 220px;
    height: 220px;
    margin: auto;
    transition: 1s;
    position: relative;

    transform-style: preserve-3d; /* duy tri thuoc tinh 3d  */
    /* perspective: 500px; tron vi tri dat mat nhin; 500px la khoang cach tu vi tri dat mat den vat ma minh quan sat  */

}

.hang{
    width: 1140px;
    margin: auto;
    justify-content: space-between;

}

.mat{
    width: 100%;
    height: 100%;
    background-color: #3336;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;
}
.truoc{
    background-color: rgba(255, 255, 0, 0.473);
    /* box-shadow: 0 0 0 20px white; */
    box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1);

    transform: translateZ(110px);/* day mat truoc len phia truoc so voi tam o giua theo truc z */
}

.tren{
    background-color: #000000;
    transform: rotateX(90deg) translateZ(110px);
}

.lapphuong:hover{
    transform: rotateX(-90deg);

}


footer{
    padding: 24px 0;
}
.mtfooter, .priv, .term{
    color: #212529;
    font-size: 14.4px;
    font-weight: 300;
}
.cuafoot{
    display: flex;
    padding: 0 80px;
}
.priv{
    margin-right: 16px;
    color: #fed136;
    font-weight: 600;
    font-size: 14px;
}
.term{
    color: #fed136;
    font-weight: 600;
    font-size: 14px;
}
/* lam hieu ung */

.i5:hover{
    cursor: pointer;
    background-color: #15171ae7;
}
.priv:hover, .term:hover{
    cursor: pointer;
    color: #fcc80d;
    text-decoration: underline;
}
.i5{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 100%;
    color: white;
    background-color: #343a40;
    margin: 0 6px;
}